In [1]:
import matplotlib.pyplot as plt
import numpy as np
import scipy
from scipy import stats

In [4]:
students= 3*.90*22

In [5]:
students

59.400000000000006

In [6]:
#How likely is it that the break area gets cleaned up each day?
clean= stats.binom(students, .03)

In [7]:
clean

In [8]:
clean.cdf(0)

/usr/local/anaconda3/lib/python3.7/site-packages/scipy/stats/_discrete_distns.py:62: RuntimeWarning: floating point number truncated to an integer
  vals = special.bdtr(k, n, p)

0.16578007115626453

In [9]:
clean.sf(0)

/usr/local/anaconda3/lib/python3.7/site-packages/scipy/stats/_discrete_distns.py:67: RuntimeWarning: floating point number truncated to an integer
  return special.bdtrc(k, n, p)

0.8342199288437355

In [10]:
clean.isf(.8)

/usr/local/anaconda3/lib/python3.7/site-packages/scipy/stats/_discrete_distns.py:72: RuntimeWarning: floating point number truncated to an integer
  temp = special.bdtr(vals1, n, p)

1.0

In [11]:
clean.isf(.2)

3.0

In [12]:
clean.ppf(.4)

1.0

In [30]:
#You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. 
#After several weeks of careful observation, you notice that the average number of people in line when your 
#lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes 
#for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have 
#at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, 
#and ignore travel time to and from La Panaderia.

#mean= 15 sd =3
people_in_line = stats.norm(15, 3)

In [31]:
lunch_hour= (60-15-10)//2

In [32]:
lunch_hour

17

In [34]:
people_in_line.cdf(lunch_hour)

0.7475074624530771

In [37]:
np.random.normal(15, 3, 10000).mean()

15.047103849253109

In [39]:
#Connect to the employees database and find the average salary of current employees, along with the 
#standard deviation. Model the distribution of employees salaries with a normal distribution and answer the 
#following questions:

from pydata import employees

ModuleNotFoundError: No module named 'pydata'

In [45]:
def get_db_url(username, hostname, password, db_name):
    return f'mysql+pymysql://{username}:{password}@{hostname}/{db_name}'

In [48]:
query = '''
    select * from salaries
'''
url = get_db_url(username,hostname,password,'employees')

NameError: name 'username' is not defined

In [53]:
 import sqlite3
 connection = sqlite3.connect("employees.db")

In [54]:
select * from employees

SyntaxError: invalid syntax (<ipython-input-54-ced5bbbfc287>, line 1)

In [55]:
pip install mysqlclient pymysql

Requirement already satisfied: mysqlclient in /usr/local/anaconda3/lib/python3.7/site-packages (1.4.4)
Requirement already satisfied: pymysql in /usr/local/anaconda3/lib/python3.7/site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [60]:
mysql+pymysql://codeup:p@assw0rd@123.123.123.123/some_db

SyntaxError: invalid syntax (<ipython-input-60-5c53d424ecd2>, line 1)

In [57]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'

NameError: name 'user' is not defined

In [59]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

NameError: name 'pd' is not defined